<a href="https://colab.research.google.com/github/sagarbhadra7/Canvas-assignments/blob/master/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line.

In [15]:
for i in range(2000,3201):
  if(i%7==0 and i%5!=0):
    print(i,end=',')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name.

In [17]:
name=input("Please provide full Name:(First name and Last Name")

Please provide full Name:(First name and Last NameSagar Bhadra

In [37]:
l=name.split()
l

['Sagar', 'Bhadra']

In [36]:
print(l[1]," ",l[0])

Bhadra   Sagar

Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * Ï€ * r
3

In [0]:
r=12
pi=22/7

In [0]:
def volume(r):
  return (4*pi*r**3)/3

In [41]:
print("voulme of sphere is "+str(volume(r)))

voulme of sphere is 7241.142857142858

Write a program which accepts a sequence of comma-separated numbers from console and
generate a list.

In [43]:
l=input("Please provide number with comma seprated")

Please provide number with comma seprated1,2,3,4,5,6,7,8,9

In [44]:
l

'1,2,3,4,5,6,7,8,9'

In [0]:
l1=l.split(',')

In [48]:
l1

['1', '2', '3', '4', '5', '6', '7', '8', '9']

Create the below pattern using nested for loop in Python.
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [69]:
for i in range(1,7):
  print()
  for j in range(1,i):
    print('*',end=' ')
for i in range(5,1,-1):
  print()
  for k in range(i,1,-1):
    print('*',end=' ')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [70]:
n=5;
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')

for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

Write a Python program to reverse a word after accepting the input from the user

In [71]:
s=input('Please provide string')

Please provide stringSagar bhadra

In [0]:
rs=s[::-1]

In [74]:
rs

'ardahb ragaS'

Write a Python Program to print the given string in the format specified in the sample output.
WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens
Sample Output:
WE, THE PEOPLE OF INDIA,
having solemnly resolved to constitute India into a SOVEREIGN, !
SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
and to secure to all its citizens

In [75]:
string = "WE, THE PEOPLE OF INDIA,{}having solemnly resolved to constitute India into a SOVEREIGN,{}SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC{}and to secure to all its citizens{}"
print(string.format('\n\t','!\n\t\t','\n\t\t',':'))

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN,!
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		and to secure to all its citizens: